// Iconografía

@font-face 
    font-family 'icomoon'
    src url('../fonts/icomoon.eot?sv4asa')
    src url('../fonts/icomoon.eot?sv4asa#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?sv4asa') format('truetype'),
        url('../fonts/icomoon.woff?sv4asa') format('woff'),
        url('../fonts/icomoon.svg?sv4asa#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1    

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-gear:before
    content "\e900"
    
.icon-menu:before 
    content "\e901"
    
.icon-html:before
    content "\f13b"

.icon-css:before
    content "\f13c"

.icon-document:before
    content "\f15c"
    