header_bgcolor = #25313E
text_color = #ADBECE
aside_bgcolor = #41586E
danger_color = #E74C3C
success_color = #3498DB
warning_color = #F39C12
primary_color = #89CC97
header_height = 50px

@import 'normalize.css'
@import 'icons' 

* 
	box-sizing border-box

a
	color text_color
a:hover
	color #FFFFFF	

html, body
	width 100%
	height 100%
	overflow-x hidden
	
.animated
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
	
.aside
	display flex
	height 40px	
	background-color aside_bgcolor	
	
	&-btn		
		height 40px
		line-height 40px
		width 25%
		text-align center
		border-right 1px solid rgba(text_color, .25)
		font-size 20px					
		
		&-danger			
			box-shadow inset 0 2px 0 0 danger_color
		&-danger:hover
			box-shadow inset 0 40px 0 0 danger_color
		&-success
			box-shadow inset 0 2px 0 0 success_color
		&-success:hover
			box-shadow inset 0 40px 0 0 success_color			
		&-warning
			box-shadow inset 0 2px 0 0 warning_color
		&-warning:hover
			box-shadow inset 0 40px 0 0 warning_color
		&-primary
			box-shadow inset 0 2px 0 0 primary_color
		&-primary:hover
			box-shadow inset 0 40px 0 0 primary_color

.btn-header
	height header_height
	line-height header_height
	padding 0 15px

.code	
	flex 1
	border 10px solid primary_color	

.content
	position absolute
	top 50px
	left 0
	right 0
	bottom 0
	display flex
	flex-direction column

.slide
	left 200px
	right -200px

.header
	background-color header_bgcolor

.navbar
	display flex
	height header_height
	justify-content space-between	
	align-items center	
	&-brand		
		font-weight bold
		font-size 20px
		height header_height
		line-height header_height		
	&-brand img 
		height 30px
		margin 0 5px 5px
		vertical-align middle

.navbar-menu
	border 1px solid red	
	width 100px
	height 500px