<!DOCTYPE html>
{% load staticfiles %}
<html lang="es-EC">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Codelab</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<header class="header">
		<nav class="navbar">
			<a id="btn-menu" href="#" class="btn-header"><span class="icon-menu"></span></a>
			<a class="navbar-brand" href="#">
				<img src="{% static 'img/logo.png' %}" alt="logo">
				codelab
			</a>
			<a href="" class="btn-header"><span class="icon-gear"></span></a>			
		</nav>
	</header>
	<section class="content animated">
		<aside class="aside">
			<a href="#" class="aside-btn aside-btn-danger animated"><span class="icon-html"></span></a>
			<a href="#" class="aside-btn aside-btn-success animated"><span class="icon-css"></span></a>
			<a href="#" class="aside-btn aside-btn-warning animated"><span>JS</span></a>
			<a href="#" class="aside-btn aside-btn-primary animated"><span class="icon-document"></span></a>
		</aside>
		<section class="code">		
		</section>		
	</section>
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>	
</body>
</html>